/* Variables */

/*Имена цветов будут переделаны во что-то более осмысленное, пока что этим пользоваться невозможно */
:root {
    --basic-red: #EE3643;
    --basic-green: #63A63E;
    --basic-grey: #3D546F;
    --basic-greylight: #C5C5C5;
    --basic-background: #F1F5F7;
    --white: #FFFFFF;
    --special-yellow: #FFBF47;
    --special-blue: #3BBCE3;
    --special-lilac: #DC91D8;
    --special-greenlight: #8ED78F;
    --special-yellowlight: #FFD180;
    --special-mask: #F3F7F9;
    --special-grey: #293449;
    --special-greylight: #32425C;
    --special-greyclick: #1D2739;
    --special-greyheader: #F9F5F0;
    --special-greysale: #A9A9A9;
    --success: #5FBB2D;
    --warning: #FFBF47;
    --error: #BA2732;
    --greylighten: #EAEAEA;
    --special-green: #518534;
    --green-shadow: #367315;
    --red-hover: #CA2C37;
    --special-links: #FFDA96;

    --special-fonts: "PT Sans", Arial, sans-serif;

}
  

body {
    min-width: 940px;
    margin: 0;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: 400;
    color: var(--basic-white);
    background-color: var(--white);
  }

  a {
    text-decoration: none;
    color: var(--white);
  }

  a:hover, a:active {
    padding: 0;
  }

  button {
    background-color: inherit;
    font: inherit;
    border: inherit;
    color: inherit;
  }

  img {
    max-width: 100%;
    height: auto;
  }

/*COMMON*/

.button {
  background-color: var(--basic-red);
  color: var(--white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.button:hover{
  background-color: var(--red-hover);
}

.button:active {
  background-color: var(--error);
}

/* */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
} 



/* HEADER */

header {
  font-size: 18px;
  line-height: 24px;
  background-color: var(--special-mask);
}

.purchase-navigation-wrapper {
  background-color: var(--special-grey);
  margin-bottom: 46px;
}

.purchase-navigation {
  width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
}

.main-navigation {
  background: var(--special-greylight);
  box-shadow: inset 0 -5px 0 var(--special-grey);
  width: 940px;
  margin: 0 auto;
  margin-bottom: 58px;
}

.logo {
  background-color: var(--basic-red);
  display: inline-block;
}

.logo img {
  margin: 12px 55px;
}


.purchase-menu, .main-navigation-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.purchase-search {
  flex-grow: 1;
}

.purchase-menu {
  flex-grow: 1;
  display: flex;
}

.purchase-item>a {
  text-align: center;
  line-height: 42px;
  display: block;
}

.purchase-item {
  flex-grow: 1;
}



.menu-item:hover {
  background-color: var(--special-grey);
}

.menu-item:active, .purchase-item:active {
  background-color: var(--special-greyclick);
  opacity: 0.5;
}

.purchase-make-order {
  background-color: var(--basic-green);
}

.purchase-make-order:hover {
  background-color: var(--success);
}

.header-content {
  display: grid;
  grid-gap: 70px;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: flex-start;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-bottom: 40px;
}

.header-content-description {
  color: var(--basic-red);
  font-style: italic;
  font-size: 16px;
  margin-left: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.header-content-phone {
  color: var(--basic-red);
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  margin-top: 0px;
}

.header-content-adress {
  color: var(--special-greylight);
  font-size: 14px;
}

.header-content-account {
  display:flex;
}

.header-content-login, .header-content-registration {
  font-size: 21px;
  line-height: 45px;
  flex-grow: 1;
  text-align: center;
  color: black;
  background-color: var(--white);
}

.header-content-login {
  margin-right: 10px;
}

.header-content-login:hover, .header-content-registration:hover {
  color: var(--basic-red);
}

.header-content-login:active, .header-content-registration:active {
  color: var(--basic-greylight)
}

.main-navigation-menu {
  display: flex;
}

.menu-item {
  min-height: 60px;
  flex-grow: 1;
}

.menu-item a {
  display: block;
  min-height: 60px;;
  line-height: 60px;
  text-align: center;
}



/* */

.container {
  width: 940px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

/*PROMO*/


.promo-menu {
  font-size: 24px;
  line-height: 30px;
  color: var(--white);
  padding: 0px;
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
    ". . ."
    "s s ."
    "s s .";
  gap: 20px;
}

.promo-item {
  font-size: 24px;
}

.promo-item__button {
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.3);
  color: var(--white);
}

.promo-item_yellow {
  background-color: var(--special-yellow);
}

.promo-item_blue {
  background-color: var(--special-blue);
}

.promo-item_purple {
  background-color: var(--special-lilac);
}

.promo-item_green {
  background-color: var(--special-greenlight);
}

/*PROMO SLIDER*/

.promo-slider {
  font-size: 18px;
  background-color: black;
  color: var(--white);
  width: 620px;
  grid-area: s;
}

.slider-item {
  display: none;
}

.slider-item__title {
  font-size: 36px;
  line-height: 36px;
}


/*POPULAR*/


.products-menu, .manufacturer-menu{
  list-style: none;
  padding: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 70px;
}

.popular-heading {
  background-color: var(--special-greyheader);
}

.popular-heading__title {
  font-size: 30px;
  line-height: 30px;
  color: var(--special-greylight);
}

.products-item__title {
  font-size: 18px;
  line-height: 20px;
  font-family: var(--special-fonts);
  font-weight: 700;
  color: black;
}

.products-item__sale {
  color: var(--special-greysale);
  font-size: 17px;
  line-height: 18px;
  font-family:  var(--special-fonts);
  font-weight: 700;
}

.products-item__price {
  font-family: var(--special-fonts);
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--white);
  background-color: var(--basic-red);
}

.products-item__buy, .products-item__bookmark {
  font-size: 14px;
  line-height: 18px;
  
}

.products-item__buy {
  background-color: var(--basic-green);
  box-shadow: inset 0 -3px 0 var(--green-shadow);
  border-radius: 2px;
  color: var(--white);
}

.products-item__buy:hover {
  background-color: var(--success);
}

.products-item__buy:active {
  background-color: var(--special-green);
}

.products-item__bookmark {
  color: var(--special-greylight);
  background-color: var(--white);
  border: solid 2px var(--basic-green);
}

.products-item__bookmark:hover {
  border-color: var(--special-greylight);
}

.products-item__bookmark:active {
  opacity: 0.5;
}

.manufacturer-item {
  background-color: var(--white);
}

.manufacturer-item:hover {
  border: 1px solid #EAEAEA;
  box-sizing: border-box; 
}

.manufacturer-item:active {
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
  opacity: 0.5;
}

/*SERVICES*/

.services {
  font-family: var(--special-fonts);
  font-weight: 400;
  font-size: 13px;
  background-color: var(--basic-background);
}


.services-toggle-menu {
  list-style: none;
  font-weight: 700;
}

.services-toggle__item {
  color: var(--white);
  background-color: var(--special-greylight);
  box-shadow: 0 1px 0 var(--special-grey), inset 0 1px 0 #405069;
}

.services-toggle__item_active {
  background-color: var(--white);
  color: var(--special-greylight);
  box-shadow: 0 1px 0 #FFFFFF;
}

.services-toggle__item:hover {
  background-color: var(--special-grey);
  color: var(--white);
}



.services-content-list {
  list-style: none;
}

.services-content-item__title {
  font-size: 30px;
  color: var(--special-greylight); 
  text-transform: uppercase;
}

/*DESCRIPTION*/

.description {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
}

.description__heading {
  text-transform: uppercase;
  font-size: 30px;
}

.description__content {
  font-family: var(--special-fonts);
}

.delivery {
  width: 460px;
}

.contacts {
  width: 300px;
}

.delivery__list {
  font-size: 18px;
}

/*FOOTER*/

.footer {
  background: var(--special-greylight);
}

.footer-top-wrapper {
  color: var(--white);
  font-size: 18px;
  width: 940px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  height: 193px;
  justify-items: right;
  align-items: flex-start;
}

.footer-links-category, .footer-links-nav {
  list-style: none;
  padding: 0px;
}

.footer-links-category a {
  color: var(--special-links);
}

.footer-links-category a:hover, .footer-links-nav a:hover {
  text-decoration: underline;  
}

.footer-links-category a:active, .footer-links-nav a:active {
  opacity: 0.5;
} 


.footer-top-intro {
  flex-basis: 321px;
}

.footer-links {
  flex-grow: 1;
}

.footer-links-nav, .footer-links-category {
  flex-grow: 1;
  display: flex; 
  justify-content: flex-end;
}

.footer-links-nav a, .footer-links-category a {
  margin-left: 60px;
}


.footer-footer-wrapper {
  font-size: 16px;
  background-color: var(--special-grey);
  color: var(--white);
}

.footer-footer {
  width: 940px;
  margin: 0 auto;
}

.footer-social ul {
  list-style: none;
}

.footer-social h2 {
  display: none;
}

.footer-footer {
  display: flex;
  justify-content: space-between;
}


.footer-social {
  justify-self: center;
}


.footer-link {
  color: var(--special-links);
}

.footer-link:active{
  opacity: 0.5;
}

.footer-footer span, .footer-link {
  display:block;
}




/*PERFORATORS.HTML*/


.header-content__profile, .header-content__exit {
  background-color: var(--white);
  color: black;
  font-size: 21px;
  line-height: 21px;
}

.purchase-cart_red {
  text-transform: none;
  font-size: 18px;
  line-height: 24px;
}

.header-content__account, .header-content__orders {
  color: var(--special-greylight);
  font-size: 16px;
  line-height: 18px;
}

.header-content__account:hover, .header-content__orders:hover {
  color: var(--basic-red);
}

.header-content__profile:active, .header-content__exit:active, .header-content__account:active, .header-content__orders:active {
  color: var(--basic-greylight);
}

.breadcrumbs {
  list-style: none;
  padding: 0;
}

.breadcrumbs a{
  text-transform: uppercase;
  font-size: 13px;
  color: black;
  font-family: var(--special-fonts);
}

.container__title {
  color: var(--special-greylight);
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  background-color: #F2F6F8;
}

.sort {
  background: #F7F3EC;
}

.sort__menu{
  list-style: none;
}

.sort__menu a, .sort h2 {
  font-family: var(--special-fonts);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: black;
}

 .sort__menu .sort__item_active {
  color: var(--basic-red);
  margin-right: 70px;
}

.sort__item {
  text-decoration: underline dotted var(--basic-red);
  opacity: 0.3;
  margin-right: 70px;
}

.catalog__menu {
  list-style: none;
}

.pagination {
  list-style: none;
}

.pagination a {
  font-family: var(--special-fonts);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: black;
}


.pagination .pagination__item_active {
  color: var(--white);
  background-color: var(--basic-red);
}

.pagination a:not(.pagination__item_active) {
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 2px;
}

.pagination a:not(.pagination__item_active):hover {
  border: 1px solid #C5C5C5;
  box-sizing: border-box;
  border-radius: 2px;
}

.perforators-description {
  font-family: var(--special-fonts);
  font-size: 13px;
  line-height: 24px;
  background-color: #F1F5F7;
}

.perforators-description h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}


/*CATALOG GRID*/
.page-catalog {
  display: grid;
  grid-template-columns: 180px 1fr;
  align-content: start;
}

.breadcrumbs {
  grid-column: 1 / -1;
}

.container__title {
  grid-column: 1 / -1;
}

.filter {
  grid-column: 1 /2;
  grid-row: 3 / 5;
}

.sort {
  grid-column-end: 2 / -1;
}



.perforators-description {
  grid-column: 1 / -1;
}

.catalog__menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 70px;
}


       
.header-content-account {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs {
  display: flex;
}

.sort {
  display: flex;
  align-items: baseline;
}

.sort__menu {
  display: flex;
  justify-content: flex-end;
}

.pagination {
  display: flex;
}